<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Admin Login</h2>
            <form action="/admin/adminlogin" method="POST">

            {{#if loginErr}}
            <p class="error">{{loginErr}}</p>
            {{/if}}
                <div class="form-group mb-3">
                    <label>Username</label>
                    <input type="name" class="form-control" name="username" placeholder="Enter Username" required>
                </div>
                
                <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password" required>
                </div>

                <div class="mb-3">
                    <a href="/admin/adminsignup" style="text-decoration: none;">Create new admin account?</a>
                </div>

                <button type="submit" class="btn btn-primary float-end">Login</button>
            </form>
        </div>
    </div>
</div>