
  .description-text.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .read-more-link {
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
  }
